<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171937294185-tku39b3ju4qkjgh9p4dhiu4jlgg8aps9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171937294185-tku39b3ju4qkjgh9p4dhiu4jlgg8aps9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171937294185-9146thsi0mcgvpfmstjfer4adtnlrapc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOvWPJtiBGGkF0ZSNXU6Nhm2xyRhLpzf4</string>
	<key>GCM_SENDER_ID</key>
	<string>171937294185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tropika</string>
	<key>PROJECT_ID</key>
	<string>wellaholic-5ac4f</string>
	<key>STORAGE_BUCKET</key>
	<string>wellaholic-5ac4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171937294185:ios:925dfe3962157eb1633ff8</string>
</dict>
</plist>